.aside-centered-div{
    position: fixed;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    align-items: center;
    justify-content: center;
}

.aside-centered-div hr{
    width: 50%;
}

.aside-centered-div section {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.section-page{
    display: flex;
    gap: 20px;
    font-size: 1.2em;
}