.tech {
    width: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 20px
}

.tech span {
    padding: 0.5em  1em;
    font-size: 1.1em;
    border: 2px solid var(--black-color);
    border-radius: 10px;
    transition: background-color, color 0.5s ease-in-out;
    cursor: none;
}

.tech .html:hover {
    background-color:  #f3632a;
    color: #fff;
}

.tech .css:hover {
    background-color: #244ce4;
    color: #fff;
}

.tech .javascript:hover {
    background-color:  #debb1e;
    color: #fff;
}

.tech .node:hover {
    background-color:  #7db200 ;
    color: #fff;
}

.tech .express:hover {
    background-color: #000;
    color: #fff;
}

.tech .react:hover{
    background-color: #40acca ;
    color: #fff;
}

.tech .python:hover {
    background-color: #caae2d ;
    color: #fff;
}

.tech .git:hover {
    background-color:  #f45434 ;
    color: #fff;
}

.tech .redux:hover {
    background-color: #6b33b4 ;
    color: #fff;
}

.tech .typescript:hover {
    background-color:  #186ec4 ;
    color: #fff;
}

.tech .mysql:hover {
    background-color: #04648c ;
    color: #fff ;
}

.tech .mongo:hover {
    background-color:  #1c9e54 ;
    color: #fff;
}
