@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap');

* {
    font-family: 'Heebo', sans-serif;
}

.app{
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 80%;
    background-color:var(--white-color);
}

.no-scroll{
    overflow: hidden;
}