* {
    font-family: 'Ubuntu', sans-serif;
}

.app{
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 80%;
    background-color:var(--white-color);
}

.no-scroll{
    overflow: hidden;
}