:root{
    --main-color: #F6F6F6;
    --secundary-color: #1a1a1a;
    --aside-bg: #e9e9e9;
    --shadow-color: rgba(149, 157, 165, 0.2)
}

[data-theme='dark'] {
    --main-color: #1a1a1a;
    --secundary-color: #F6F6F6;
    --aside-bg: #212121;
    --shadow-color: rgba(149, 157, 165, 0.2)
}
